header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fff;
  padding: 4px 0 14px;

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    p {
      font-family: "PT-Root-UI_Medium";
      font-size: 30px;
      font-weight: 700;
      line-height: 39px;
      text-align: right;
      color: #2d3242;
    }
  }
}
