@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("/fonts/Bebas\ Neue\ Cyrillic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI_Regular";
  src: url("/fonts/PT-Root-UI_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI_Medium";
  src: url("/fonts/PT-Root-UI_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI_Bold";
  src: url("/fonts/PT-Root-UI_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
